{% extends "base.html" %}
{% block content %}
<main class="container">
    <div class='row wow  my-3'>
        
        <div class="col-6 col-lg-2 col-sm-3 col-md-3" > 
            <div class="category">
                <div class="my-3">
                    <img src="{{category.image.url}}" alt="" height="100px" width="100px">
                </div>
                
                <p>{{category.title}}</p>
            </div>
        </div> 
      
        
    </div>
   {% for i in chilren %}
   {% if i.choice == True %}
   <div class='row wow  my-3' id="row">
   {% for item in i.item_set.all %}
   {% if item.image_cover.url != null %}
        <div class="col-6 col-lg-3 col-sm-6 col-md-3" >
            <div class="carts">
                <a href="{{item.get_absolute_url}}">
                
                    <img src="{{item.image_cover.url}}" class="my-3" alt="" style="width:100%">
                
                    <p class="">$ {{item.name}}</p>
                    {% for variant in item.variation_set.all %}
                    {% if forloop.counter == 1  %}
                    <p>$ {{variant.price}}</p>
                    {% endif %}
                    {% endfor %}
                
                </a>
                
            </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
      {% endif %}
     {% endfor %}
</main>




{% endblock %}