{% extends "base.html" %}
{% block content %}
<main class="container">
    <div class='row wow  my-3'>
        {% for item in category %}
        <div class="col-6 col-lg-2 col-sm-3 col-md-3" > 
            <a href="{{ item.get_absolute_url }}">
                <div class="category">
                    <div class="my-3">
                        <img src="{{item.image.url}}" alt="" height="100px" width="100px">
                    </div>
                    
                    <div>{{item.title}}</div>
                </div>
            </a>
        </div> 
       
        {% endfor %}
        
       
    </div>
    
    
</main>




{% endblock %}