{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<main >
    
  <div class="container wow fadeIn">
    <h2 class="my-3 h2 text-center">Checkout form</h2>
    
    <div class="d-flex flex-column">
        <form method="POST" action="{% url 'order:checkout' %}" id="form1" >
          {% csrf_token %}
        </form>    
          <h3>Shipping address</h3>
          {% if default_shipping_address %}
          <div class="custom-control custom-checkbox mb-1">
            <input type="checkbox" class="custom-control-input" name="use_default" id="use_default_shipping" form="form1" checked/>
            <label class="custom-control-label" for="use_default_shipping">Use default shipping address:{{default_shipping_address.name}} (+84){{default_shipping_address.phone_number}} {{default_shipping_address.address}}</label>
          </div>
          {% endif %}
          <span class="shipping_address">Use another shipping address</span>
          <div class='hideable_shipping_form d-none'>
            <div class="md-form ">
              <div class="infomation">Ho va ten</div>
              <input type='text' placeholder='name' name='name' class='form-control' form="form1"/>
            </div>
            <div class="md-form ">
              <div class="infomation">Phone_number</div>
              <input type='text' placeholder='phone number' id='shipping_address2' name='phone_number' class='form-control' form="form1"/>
            </div>
            <div class="md-form ">
              <div class="infomation">Address</div>
              <input type='text' placeholder='1234 Main St' id='shipping_address' name='address' class='form-control' form="form1" />
            </div>
            <div class="md-form ">
              <div class="infomation">City</div>
              <input type='text' placeholder='city' id='shipping_address2' name='city' class='form-control' form="form1"/>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="save_info" id="set_default_shipping" form="form1">
                <label class="custom-control-label" for="set_default_shipping">Save as default shipping address</label>
            </div>
          </div> 

          {% for order in orders %}
          {% for order_item in order.items.all %}
          {%if order_item.check == True%}
          {% ifchanged  %}
            <div class="mt-2">
              <div class="order_total">       
                <div class="d-flex ">
                    {{order.shop}}
                </div>
                <div class="order_item_check">
                  {% for order_item in order.items.all %}
                    {%if order_item.check == True%}       
                      <div class="order_items">
                          <div >{{ order_item.product.item }}</div>
                          <div ><a href="{{order_item.product.get_absolute_url}}"><img src="{{ order_item.product.cover_image.url }}" alt="" height="80px" class="ml-0"></a></div>
                          <div>{{ order_item.product.color }}</div>
                          <div>{{ order_item.product.price }}</div>
                    
                          <div>
                                {% if order_item.product.discount_price %}
                                    <span class="price_item">${{ order_item.discount_price_item }}</span>
                                    <span class="badge badge-primary">Saving ${{ order_item.save_item }}</span>
                                {% else %}
                                    <span class="price_item">${{ order_item.price_item }}</span>
                                {% endif %}
                          </div>   
                      </div>
                    {%endif%}               
                  {%endfor%}
                
                </div>
              </div>
              <div class="d-block shipping_shop">
                
              </div>
            </div>
            {% endifchanged %}
            {%endif%}
          {% endfor %} 
          {% endfor %}    
          
          <h5>Payment option</h5>

          <div class="d-block my-3">
              {% for value, name in form.fields.payment_option.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required form="form1">
                  <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                </div>
              {% endfor %}
          </div>
          <div>
            {% if DISPLAY_COUPON_FORM %}
            <form class="group" width="200px" action="{% url 'order:add_coupon' %}" method="POST" id="form2">
              {% csrf_token %}
              <div class="form-group" width="200px">
                {{couponform.code}}
                <div class="input-group-append mt-1">
                  <input class="btn btn-secondary btn-md waves-effect m-0" type="submit" value="Redden" form="form2">
                </div>
              </div>
            </form>
            {% endif %}
          </div>
          <div class="">
            <div class="aaaa">
              <div class="">Total amount (USD</div>
              <div><strong>${{order.total_final}}</strong></div>
      
              <div class="">Fee shiping</div>
              <div><strong>+${{order.shipping.charge}}</strong></div>
           
              {% if order.coupon.amount > 0 %}
            
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
              </div>
              <div class="text-success">
                <span class="text-success">-${{ order.coupon.amount }}</span>
              </div>
              {% endif %}        
              <div>
                <span class=>Total payment (USD)</span>
              </div>
              <div>
                <strong>${{ total }}</strong>
              </div>
            </div>
              <div class=" d-flex justify-content-end border-top mt-3 p-2">
                <button class="btn btn-primary" form="form1" style="width:200px">Order</button>
              </div>
              
          </div>
          
         
       
    </div>  
    
  </div> 
</main>

<script>
var hideable_shipping_form = $('.hideable_shipping_form');
var hideable_billing_form = $('.hideable_billing_form');
var shipping = $('.shipping_address')
var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
var use_default_billing = document.querySelector("input[name=use_default_billing]");
$(document).ready(function(){
  $(".shipping_address").click(function(){
    $(".hideable_shipping_form").toggleClass("d-none");
  })
  $(".billing_address").click(function(){
    $(".hideable_billing_form").toggleClass("d-none");
})
})
use_default_shipping.addEventListener('change', function() {
  if (this.checked) {
    hideable_shipping_form.hide();
  } else {
    hideable_shipping_form.show();
  }
})

use_default_billing.addEventListener('change', function() {
  if (this.checked) {
    hideable_billing_form.hide();
  } else {
    hideable_billing_form.show();
  }
})

</script>
{% endblock %}
